.contact {
  text-align: center;
  padding: 40px;
  background: #ffd6d6;
}

.contact h1 {
  color: #b30000;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #b30000;
  font-weight: bold;
}