body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(241, 144, 144);
}

.heading {
  color: rgb(216, 64, 64);
}
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 10px;
  display: table-row-group;
}